@page
@model ThemeParkDatabase.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Employees";
}

<style>
    div#piechart {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<h3>Employees</h3>
<div class="content-container" style="display: flex; padding: 10px 0 10px 0;">
    <div id="piechart" style="width: 500px; height: 400px;"></div>
</div>

<div class="content-container">
    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table table-responsive table-hover table-condensed" id="employees-table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Employee[0].FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.Employee[0].MiddleInitial)</th>
                <th>@Html.DisplayNameFor(model => model.Employee[0].LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Employee[0].Title)</th>
                <th>@Html.DisplayNameFor(model => model.Employee[0].HireDate)</th>
                <th>@Html.DisplayNameFor(model => model.Employee[0].Salary)</th>
                <th>@Html.DisplayNameFor(model => model.Employee[0].Department)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employee)
            {
                var hireDate = String.Format("{0:MM/dd/yyyy}", item.HireDate);

                <tr name="employee" data-id="@item.Id">
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.MiddleInitial)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@hireDate</td>
                    <td>$@Html.DisplayFor(modelItem => item.Salary)</td>
                    <td>@Html.DisplayFor(modelItem => item.Department.Name)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>

        </tfoot>
    </table>
    <!--
    <div id="date-range">
        Start: <input id="min" type="text" maxlength="8" size="8">
        &nbsp;&nbsp;End: <input id="max" type="text" maxlength="8" size="8">
    </div>
        -->
</div>

<div class="content-container">
    <div class="col-md-6">
        <h6>
            Create and View the Departments

        </h6>
        <p>
            <a asp-page="/Departments/Index"> View The Departments</a>

        </p>
    </div>
    </div>



    @section scripts
        {
        <script>
            $(document).ready(function () {
                google.charts.load("current", { "packages": ["corechart"] });
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                    $.ajax({
                        url: "/Employees?handler=PieChart",
                        type: "GET",
                        dataType: "json",
                        success: function (json) {
                            var data = google.visualization.arrayToDataTable(json);

                            var options = {
                                title: "Department Budget",
                                is3D: true,
                            };
                            var chart = new google.visualization.PieChart(document.getElementById("piechart"));

                            chart.draw(data, options);
                        }
                    });
                }

                $.fn.dataTable.ext.search.push(
                    function (settings, data, dataIndex) {
                        var min = $('#min').datepicker("getDate");
                        var max = $('#max').datepicker("getDate");
                        var startDate = new Date(data[4]);

                        if (min == null || max == null) {
                            return true;
                        }
                        else {
                            if (startDate >= min && startDate <= max) {
                                return true;
                            }
                        }
                        return false;
                    }
                );

                var employeesTable = $("#employees-table").DataTable({
                    "autoWidth": false,
                    "footerCallback": function (row, data, start, end, display) {
                        var api = this.api(), data;

                        var intVal = function (i) {
                            if (typeof i === "string") {
                                return i.replace(/[\$,]/g, "") * 1;
                            }
                            else {
                                return i;
                            }
                        };

                        var total = api.column(5, { search: "applied" }).data().reduce(function (a, b) {
                            return intVal(a) + intVal(b)
                        });

                        var average = total / api.rows().count();

                        $("#employees-table tfoot").html(
                            "Average salaries: $" + average
                        );
                    }
                });

                $('#min').datepicker({
                    yearRange: "1900:2018",
                    changeMonth: true,
                    changeYear: true
                });
                $('#max').datepicker({
                    yearRange: "1900:2018",
                    changeMonth: true,
                    changeYear: true
                });

                $('#min, #max').change(function () {
                    employeesTable.draw();
                });
            });
        </script>
    }
