@page
@model ThemeParkDatabase.Pages.Vendors.IndexModel

@{
    ViewData["Title"] = "Vendors";
}


<h3>Vendors</h3>

<div class="content-container">
    <div id="sales-goals-chart"></div>
</div>

<div class="content-container">

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table table-condensed table-hover table-responsive" id="vendors-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Vendor[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vendor[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vendor[0].Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vendor[0].VendorType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Vendor)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorType.Name)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="content-container">
<div class="col-md-6">
    <h6>
        Create and View the Types of Vendors

    </h6>
    <p>
        <a asp-page="/VendorTypes/Index"> View The Type of Vendors</a>

    </p>
</div>
   </div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#vendors-table").DataTable();

            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                $.ajax({
                    url: "/Vendors?handler=SalesGraph",
                    type: "GET",
                    dataType: "json",
                    success: function (json) {
                        var data = google.visualization.arrayToDataTable(json);

                        var options = {
                            title: "Sales vs Sales Goals",
                            curveType: "function",
                            legend: { position: "bottom" }
                        };

                        var chart = new google.visualization.LineChart(document.getElementById("sales-goals-chart"));

                        chart.draw(data, options);
                    }
                })

            }
        });
    </script>
}