@page
@model ThemeParkDatabase.Pages.MaintenanceAudits.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Maintence Audit</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MaintenanceAudit[0].MaintenanceAuditId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaintenanceAudit[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaintenanceAudit[0].DateRequested)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaintenanceAudit[0].DateResolved)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaintenanceAudit[0].CurrentStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaintenanceAudit[0].EstimatedCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaintenanceAudit[0].AttractionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaintenanceAudit[0].UpdatedOn)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MaintenanceAudit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenanceAuditId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateResolved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttractionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
