@page
@model ThemeParkDatabase.Pages.Maintenance.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div class="content-container">
    <div>
        <h4>MaintenanceRequest</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MaintenanceRequest.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MaintenanceRequest.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MaintenanceRequest.DateRequested)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MaintenanceRequest.DateRequested)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MaintenanceRequest.DateResolved)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MaintenanceRequest.DateResolved)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MaintenanceRequest.CurrentStatus)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MaintenanceRequest.CurrentStatus)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MaintenanceRequest.EstimatedCost)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MaintenanceRequest.EstimatedCost)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MaintenanceRequest.Attraction)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MaintenanceRequest.Attraction.Description)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.MaintenanceRequest.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
    </div>