@page
@model ThemeParkDatabase.Pages.Maintenance.IndexModel

@{
    ViewData["Title"] = "Maintenance";
}

<style>
    div#dual_x_div {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<h3>Maintenance</h3>

<div class="content-container" style="display: flex;">
    <div id="dual_x_div"></div>
</div>

<p>
    <a asp-page="Create">Create New</a>
</p>


<div class="content-container">
    <table class="table table-hover table-responsive table-condensed" id="maintenance-table" style="width:100%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Attraction</th>
                <th>Current Status</th>
                <th>Date Requested</th>
                <th>Estimated Cost</th>
                <th>Date Resolved</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model.MaintenanceRequest)
            {
                var dateRequested = String.Format("{0:MM/dd/yyyy}", request.DateRequested);
                var dateResolved = String.Format("{0:MM/dd/yyyy}", request.DateResolved);
                <tr name="maintenance" data-id="@request.Id">
                    <td>@Html.DisplayFor(r => request.Id)</td>
                    <td>@Html.DisplayFor(r => request.Attraction.Name)</td>
                    <td>@Html.DisplayFor(r => request.CurrentStatus)</td>
                    <td>@dateRequested</td>
                    <td>$@Html.DisplayFor(r => request.EstimatedCost)</td>
                    <td>@dateResolved</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@request.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@request.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@request.Id">Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

<div class="content-container">
    <div class="col-md-6">
        <h6>
            Maintenance Audit

        </h6>
        <p>
            <a asp-page="/MaintenanceAudits/Index"> View The Maintenance Audits </a>

        </p>
    </div>
    </div>

    @section scripts
        {
        <script>
            $(document).ready(function () {
                google.charts.load("current", { packages: ["bar", "controls"] });
                google.charts.setOnLoadCallback(drawDashboard);

                function drawDashboard() {
                    $.ajax({
                        url: "/Maintenance?handler=MaintenanceCostGraph",
                        type: "GET",
                        dataType: "json",
                        success: function (json) {
                            console.log(json);
                            var data = new google.visualization.arrayToDataTable(json);

                            var options = {
                                width: 800,
                                height: 300,
                                chart: {
                                    title: "Total Cost"
                                },
                                bars: "horizontal",
                                series: {
                                    0: { axis: "Total Cost" },
                                    1: { axis: "Number of Requzzzzz" }
                                },
                                axes: {
                                    x: {
                                        "Total Cost": { label: "Total Cost" },
                                        "Number of Requests": { side: "top", label: "Number of Requests" }
                                    }

                                }
                            }

                            var chart = new google.charts.Bar(document.getElementById("dual_x_div"));
                            chart.draw(data, options);
                        }
                    });
                }

                $("#maintenance-table").DataTable();
            });
        </script>
    }

    @*@{
            int numOfRidesBroken = 0;
            foreach (var request in Model.MaintenanceRequest)
            {
                if (request.DateResolved == null)
                {
                    numOfRidesBroken++;
                }
            }
            <p>@numOfRidesBroken</p>

            foreach (var request in Model.MaintenanceRequest)
            {
                if (request.DateResolved == null)
                {
                    <table class="table table-responsive table-hover table-striped">
                        <thead>
                            <tr>
                                <th><b>@Html.DisplayFor(r => request.Attraction.Name)</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var dateRequested = String.Format("{0:MM/dd/yyyy}", request.DateRequested);
                            }
                            <tr>
                                <td><b>Description</b></td>
                                <td>@Html.DisplayFor(r => request.Description)</td>
                            </tr>
                            <tr>
                                <td><b>Date Requested</b></td>
                                <td>@dateRequested</td>
                            </tr>
                            <tr>
                                <td><b>Current Status</b></td>
                                <td>@Html.DisplayFor(r => request.CurrentStatus)</td>
                            </tr>
                            <tr>
                                <td><b>Estimated Cost</b></td>
                                <td>$@Html.DisplayFor(r => request.EstimatedCost)</td>
                            </tr>
                        </tbody>
                    </table>
                }
            }
        }*@
