@page
@model ThemeParkDatabase.Pages.ReportQueries.IndexModel
@{
    ViewData["Title"] = "Index";
}

<style>
#query-box {
    display: flex;
    flex-direction: row;
}

#query-form {
    margin: 0 auto;
}

#query-form .form-group {
    margin: 15px;
    display: inline-block;
}

.reports-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.report {
    width: 100%;
    margin: 20px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.report-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    padding-left: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background: linear-gradient(to right, #31bfab, #4ea2e0);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.report-body {
    padding: 10px;
}

</style>

<div id="query-box">
    <form id="query-form">
        <div id="filter-forms">
            <div class="form-group">
                <label for="sel1">Report Type</label>
                <select class="form-control" id="query-object-dropdown" name="QueryObject">
                    <option value="AttractionsQuery">Attractions</option>
                    <option value="VendorsQuery">Vendors</option>
                    <option value="VisitorsQuery">Visitors</option>
                </select>
            </div>
            <div class="form-group">
                <label for="start-date">Start Date</label>
                <div class="col-10">
                    <input class="form-control" type="date" id="start-date" name="StartDate" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="end-date">End Date</label>
                <div class="col-10">
                    <input class="form-control" type="date" id="end-date" name="EndDate">
                </div>
            </div>
            <div class="form-group">
                @* For attractions and vendors *@
                <label for="location">Location</label>
                <select class="form-control" id="location" name="LocationId">
                    <option value="All">All</option>
                    @{
                        foreach (var location in Model._locations)
                        {
                            <option value="@location.Id">@location.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                @* For attractions *@
                <label for="attraction-type">Attraction Type</label>
                <select class="form-control" id="attraction-type" name="AttractionTypeId">
                    @{
                        <option value="All">All</option>
                        foreach (var attractionType in Model._attractionTypes)
                        {
                            <option value="@attractionType.Id">@attractionType.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                @* For attractions *@
                <label for="attraction-name">Attraction Name</label>
                <select class="form-control" id="attraction-name" name="AttractionName">
                    @{
                        <option value="All">All</option>
                        foreach (var attraction in Model._attractions.ToList())
                        {
                            <option value="@attraction.Name">@attraction.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                @* For vendors *@
                <label for="vendor-type">Vendor Type</label>
                <select class="form-control" id="vendor-type" name="VendorTypeId">
                    @{
                        <option value="All">All</option>
                        foreach (var vendorType in Model._vendorTypes)
                        {
                            <option value="@vendorType.Id">@vendorType.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                @* For vendors *@
                <label for="vendor-name">Vendor Name</label>
                <select class="form-control" id="vendor-name" name="VendorName">
                    @{
                        <option value="All">All</option>
                        foreach (var vendor in Model._vendors)
                        {
                            <option value="@vendor.Name">@vendor.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <input type="button" value="Submit" id="submit-query" class="btn btn-default">
        </div>
        <div class="form-group">
            <input type="button" value="Clear" id="clear-reports" class="btn btn-default"/>
        </div>
    </form>
</div>

<div class="reports-container">

</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            refreshFilters();

            $("select[name='QueryObject']").on("change", function () {
                refreshFilters();
            });

            $("#clear-reports").on("click", function () {
                $(".reports-container").empty();

            });

            $("#submit-query").on("click", function () {
                var formData = $("#query-form").serializeArray();
                if (formData[2].value == "") {
                    formData[2].value = "9999-12-31";
                }
                $.ajax({
                    url: "/ReportQueries/" + formData[0].value,
                    type: "POST",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    dataType: "html",
                    data: formData,
                    success: function (data) {
                        $(".reports-container").prepend("<div class='report'>" + data + "</div>");
                    }
                })
            });
        });

        function refreshFilters() {
            var queryObject = $("select[name='QueryObject']").val();

            if (queryObject == "AttractionsQuery") {
                hideVendorsFilters();
                showAttractionsFilters();
                showLocationFilter();
            }
            else if (queryObject == "VendorsQuery") {
                hideAttractionsFilters();
                showVendorsFilters();
                showLocationFilter();
            }
            else if (queryObject == "VisitorsQuery") {
                hideAttractionsFilters();
                hideVendorsFilters();
                hideLocationFilter();
            }
        }

        function hideVendorsFilters() {
            $("label[for='vendor-name']").hide();
            $("#vendor-name").hide();
            $("label[for='vendor-type']").hide();
            $("#vendor-type").hide();
        }

        function showVendorsFilters() {
            $("label[for='vendor-name']").show();
            $("#vendor-name").show();
            $("label[for='vendor-type']").show();
            $("#vendor-type").show();
        }

        function hideAttractionsFilters() {
            $("label[for='attraction-name']").hide();
            $("#attraction-name").hide();
            $("label[for='attraction-type']").hide();
            $("#attraction-type").hide();
        }

        function showAttractionsFilters() {
            $("label[for='attraction-name']").show();
            $("#attraction-name").show();
            $("label[for='attraction-type']").show();
            $("#attraction-type").show();
        }

        function hideLocationFilter() {
            $("label[for='location']").hide();
            $("#location").hide();
        }

        function showLocationFilter() {
            $("label[for='location']").show();
            $("#location").show();
        }
    </script>
}

@*@page
@model ThemeParkDatabase.Pages.ReportQueries.IndexModel
@{
    ViewData["Title"] = "Index";
}

<style>
#query-box {
    display: flex;
    flex-direction: row;
}

#query-form {
    margin: 0 auto;
}

#query-form .form-group {
    margin: 5px;
    display: inline-block;
}

.reports-container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
}

.report {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.75);*/
    padding-right: 15px;
    margin-top: 15px;
   /* flex: 1 0 10px;*/
    line-height: 10px;
}
    
.report-header {
    width: 100%;
    height: 25px;
    background: black;
}
</style>

<div id="query-box">
    <form id="query-form">
        <div id="filter-forms">
            <div class="form-group">
                <label for="sel1">Query Object</label>
                <select class="form-control" id="query-object-dropdown" name="query-object">
                    <option value="AttractionsQuery">Attractions</option>
                    <option value="VendorsQuery">Vendors</option>
                    <option value="VisitorsQuery">Visitors</option>
                </select>
            </div>
            <div class="form-group">
                <label for="start-date">Start Date</label>
                <div class="col-10">
                    <input class="form-control" type="date" id="start-date" name="start-date" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="end-date">End Date</label>
                <div class="col-10">
                    <input class="form-control" type="date" id="end-date" name="end-date">
                </div>
            </div>
            <div class="form-group">

                <label for="location">Location</label>
                <select class="form-control" id="location" name="locationId">
                    <option value="All">All</option>
                    @{
                        foreach (var location in Model._locations)
                        {
                            <option value="@location.Id">@location.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">

                <label for="attraction-type">Attraction Type</label>
                <select class="form-control" id="attraction-type" name="attractionTypeId">
                    @{
                        <option value="All">All</option>
                        foreach (var attractionType in Model._attractionTypes)
                        {
                            <option value="@attractionType.Id">@attractionType.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">

                <label for="attraction-name">Attraction Name</label>
                <select class="form-control" id="attraction-name" name="attractionName">
                    @{
                        <option value="All">All</option>
                        foreach (var attraction in Model._attractions.ToList())
                        {
                            <option value="@attraction.Name">@attraction.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">

                <label for="vendor-type">Vendor Type</label>
                <select class="form-control" id="vendor-type" name="vendorTypeId">
                    @{
                        <option value="All">All</option>
                        foreach (var vendorType in Model._vendorTypes)
                        {
                            <option value="@vendorType.Id">@vendorType.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">

                <label for="vendor-name">Vendor Name</label>
                <select class="form-control" id="vendor-name" name="vendorName">
                    @{
                        <option value="All">All</option>
                        foreach (var vendor in Model._vendors)
                        {
                            <option value="@vendor.Name">@vendor.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <input type="button" value="Submit" id="submit-query">
        <input type="button" value="Clear" id="clear-reports" />
    </form>
</div>

<div class="reports-container">

</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            refreshFilters();

            $("select[name='query-object']").on("change", function () {
                refreshFilters();
            });

            $("#clear-reports").on("click", function () {
                $(".reports-container").empty();

            });

            $("#submit-query").on("click", function () {
                var formData = $("#query-form").serializeArray(); // Just .serialize or serialize array?
                $.ajax({
                    url: "/api/ReportQueries/",
                    type: "POST",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    dataType: "html",
                    data: formData,
                    success: function (data) {
                        $(".reports-container").prepend("<div style='width:100%;'></div>" + data);
                    }
                })
            });
        });

        function refreshFilters() {
            var queryObject = $("select[name='query-object']").val();

            if (queryObject == "AttractionsQuery") {
                hideVendorsFilters();
                showAttractionsFilters();
                showLocationFilter();
            }
            else if (queryObject == "VendorsQuery") {
                hideAttractionsFilters();
                showVendorsFilters();
                showLocationFilter();
            }
            else if (queryObject == "VisitorsQuery") {
                hideAttractionsFilters();
                hideVendorsFilters();
                hideLocationFilter();
            }
        }

        function hideVendorsFilters() {
            $("label[for='vendor-name']").hide();
            $("#vendor-name").hide();
            $("label[for='vendor-type']").hide();
            $("#vendor-type").hide();
        }

        function showVendorsFilters() {
            $("label[for='vendor-name']").hide();
            $("#vendor-name").hide();
            $("label[for='vendor-type']").hide();
            $("#vendor-type").hide();
        }

        function hideAttractionsFilters() {
            $("label[for='attraction-name']").hide();
            $("#attraction-name").hide();
            $("label[for='attraction-type']").hide();
            $("#attraction-type").hide();
        }

        function showAttractionsFilters() {
            $("label[for='attraction-name']").hide();
            $("#attraction-name").hide();
            $("label[for='attraction-type']").hide();
            $("#attraction-type").hide();
        }

        function hideLocationFilter() {
            $("label[for='location']").hide();
            $("#location").hide();
        }

        function showLocationFilter() {
            $("label[for='location']").hide();
            $("#location").hide();
        }
    </script>
}
*@